/* XXL */

@media(max-width:1920px){
    .container{
        max-width: 1890px;
    }
    .ri-menu-line{
        display: none;
    }
}


/* XL  */

@media(max-width:1399px){
    .container{
        max-width: 1320px;
    }
    .ri-menu-line{
        display: none;
    }

    /* ABOUT */

    .proffesional-image img{
        width: 500px;
    }
}

/* L */

@media(max-width:1200px){
    .container{
        max-width: 1140px;
    }
    .ri-menu-line{
        display: none;
    }

    /* BANNER */

    .banner-content{
        max-width: 80%;
    }

    /* SERVICES */

    .col-l-6{
        width: 50%;
    }

    /* ABOUT */

    .about .about-content{
        margin-left: 10%;
    }
    .about .about-img{
        padding-left: 10%;
    }

     /* ABOUT */

    .proffesional-image img{
        width: 500px;
    }
    .proffesional h3{
        color: white;
        font-size: 30px;
    }

    .proffesional .proffesional-content li:not(:first-child){
        padding-left: 10px;
    }
    .proffesional .proffesional-content-p{
        padding: 30px 0 0px 0;
    }
    .proffesional .proffesional-content ul{
        padding-top: 40px;
    }
    .proffesional .proffesional-content ul li p{
        padding-top: 10px;
        font-size: 20px;
    }    
    .col-m-12{
        width: 100%;
    }

    /* VIDEO */

    .video-inner{
        padding-left: 50px;
    }
    .video-inner img{
        width: 600px;
    }

    /* FORM */

    .form .form-content{
        padding-left: 20px;
    }
    .form .form-img{
        padding-left: 60px;
    }
    .form .form-img img{
        width: 450px;
    }
}

/* M  */

@media(max-width:991px){
    .container{
        max-width: 960px;
    }
    .ri-menu-line{
        display: none;
    }

    /* BANNER */

    .banner-content{
        max-width: 95%;
    }
    .banner h1{
        font-size: 80px;
    }

    /* SERVICES */

    .col-l-6{
        width: 50%;
    }

    /* ABOUT */
    .about .about-content{
        margin-left: 15%;
    }
    .about .about-img{
        padding-left: 15%;
    }
    .col-m-12{
        width: 100%;
    }

    /* PORTFOLIO */
    
    .col-s-6{
        width: 50%;
    }
    .portfolio .img-3{
        justify-content: center;
    }
    
    /* VIDEO */

    .video-inner{
        padding-left: 0px;
    }
    .video-inner img{
        width: 600px;
    }

    /* TESTIMONIALS */

    .col-m-6{
        width: 50%;
    }

     /* FORM */

     .form input{
        background-color: transparent;
        color: white;
        height: 55px;
        width: 400px;
        border: 2px solid #999999;
        border-radius: 4px 4px 4px 4px;
    }
     .form .form-content{
        padding-left: 20px;
    }
    .form .form-img{
        padding-left: 0px;
    }
    .form .form-img img{
        width: 400px;
    }
}

/* S  */

@media(max-width:767px){
    .container{
        max-width: 720px;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        
    }
    .ri-menu-line{
        display: block;
    }
    header nav ul{
        align-items: flex-start!important;
        flex-direction: column;
    }

    /* SERVICES */

    .col-s-12{
        width: 100%;
    }

     /* ABOUT */

     .about .about-content{
        margin-left: -10%;
    }
    .about .about-img{
        padding-left: 0%;
    }
    .about-img img{
        width: 500px;
     }

    /* PORTFOLIO */
    
    .col-s-6{
        width: 50%;
    }

    /* VIDEO */

     .video-inner{
        padding-left: 50px;
    }
    .video-inner img{
        width: 600px;
    }
    .video .video-inner img{
        margin-left: 0%;
    }

    /* FORM */

    .form .form-img{
        padding-left: 80px;
    }
    .form .form-img img{
        width: 400px;
    }
}

/* XS  */

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }
    .ri-menu-line{
        display: block;
    }
    header nav ul{
        align-items: flex-start!important;
        flex-direction: column;
    }

     /* ABOUT */

     .about-img img{
        width: 450px;
     }
     .about-img{
        margin-left: 10%;
     }

       /* VIDEO */

    .video-inner{
        padding-left: 80px;
    }
    .video-inner img{
        width: 400px;
    }

    /* TESTIMONIALS */

    .col-xs-12{
        width: 100%;
    }
}

/* XXS */

@media(max-width:412px){
    
}