/* XL  */

@media(max-width:1399px){
    .container{
        max-width: 1320px;
    }
    .ri-menu-line{
        display: none;
    }
}

/* L */

@media(max-width:1200px){
    .container{
        max-width: 1140px;
    }
    .ri-menu-line{
        display: none;
    }
}

/* M  */

@media(max-width:991px){
    .container{
        max-width: 960px;
    }
    .ri-menu-line{
        display: none;
    }
}

/* S  */

@media(max-width:766px){
    .container{
        max-width: 720px;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        
    }
    .ri-menu-line{
        display: block;
    }
    header nav ul{
        align-items: flex-start!important;
        flex-direction: column;
    }
}

/* XS  */

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        
    }
    header nav ul{
        align-items: flex-start!important;
        flex-direction: column;
    }
}