*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed';
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.mx-auto{
    margin: 0 auto;
}
a{
    color: white;
    text-decoration: none;
}
.align-item-center{
    align-items: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
ul,ol{
    list-style: none    ;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* HEADER */
header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
}
header .d-flex{
    justify-content: space-between;
}
header li{
    margin-left: 20px;
}
.logo-text{
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
}
header li:last-child{
    border: 2px solid #5758e0;
    color: white;
    padding: 15px;
}
header li:last-child:hover{
    background-color: #5758e0;
}
header a{
    color: white;
    transition: 0.2s;
}
header a:hover{
    color: #5692d8;
}
.ri-rocket-2-line{
    margin-right: 5px;
}
header i{
    font-size: 20px;
}

/* -------------BANNER--------------- */

.banner{
    background: url(../images/banner.jpg) rgba(0, 0, 0, 0.7);
    padding: 120px 0 150px 0;
    background-blend-mode: color-burn;
    background-attachment: fixed,scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content h1{
    font-size: 100px;
    color: transparent;
    background-image: linear-gradient(-45deg,#5758e0,#5697d8);
    background-clip: text;
}
.banner-content p{
    color: #999999;
    padding-top: 10px;
    font-size: 28px;
    padding-bottom: 30px;
}
.banner-content a{
    background-color: #5758e0;
    color: white;
     padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.banner-content a > i{
    margin-right: 5px;
    margin-bottom: -10px;
    font-size: 25px;
}
.banner-content{
    max-width: 70%;
}
.banner-content a:hover{
    background-image: linear-gradient(-45deg,#5758e0,#5697d8);
}

/* SERVICES */

.service{
    padding: 32px;
    background-color: black;
    z-index: 9;
    position: relative;
}
.service-item{
    background-color: #191919;
    padding: 50px;
    margin: 20px;
    transition: 0.2s;
    
}
.service-icon{
    background-image: linear-gradient(#5758e0,#5697d8);
    font-size: 45px;
    color: transparent;
    background-clip: text;
}
.service-item h2{
    font-size: 30px;
    font-weight: 600;
}
.service-item p{
    color: #999999;
    font-size: 20px;
    font-weight: 200;
    padding: 30px 0px 20px 0px;
}
.ri-arrow-right-circle-line{
    font-size: 40px;
}

.service .col-4:first-child a::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background-image: linear-gradient(#5758e0,#5697d8);
    top: 30px;
    left: 40px;
    z-index: -1;
}
.service .col-4:last-child a::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 200px;
    background-image: linear-gradient(#5758e0,#5697d8);
    bottom: 35px;
    right: 40px;
    z-index: -1;
}
.service-item:hover{
    background-image: linear-gradient(90deg,#5758e0,#5697d8);
    transform: translateY(-20px);
}    
.service-item:hover .service-icon,.ri-arrow-right-circle-line{
    color: white;
}
.service-item:hover p{
    color: white;
}


/* ABOUT */

.about{
    background-color: #191919;
    padding: 80px 0;
    
}
.about span{
    background-image: linear-gradient(90deg,#5758e0,#5697d8);
    height: 5px;
    width: 50px;
    display: inline-block;
}
.about h2{
    color: white;
    font-size: 42px;
}
.about p{
    font-size: 22px;
    width: 600px;
    color: #999999;
}
.about .about-content{
    padding-left: 20px;
}

    /* PROFFESIONALS */

.proffesional{
        padding: 80px 0;
        background-color: #111111;
    }
.proffesional span{
        background-image: linear-gradient(90deg,#5758e0,#5697d8);
        height: 5px;
        width: 50px;
        display: inline-block;
    }
.proffesional h2{
        color: white;
        font-size: 42px;
    }
.proffesional p{
        font-size: 18px;
        width: 600px;
        color: #999999;
    }
.proffesional .proffesional-content li i{
        background-image: linear-gradient(90deg,#5758e0,#5697d8);
        color: transparent;
        font-size: 50px;
        background-clip: text;
    } 
.proffesional h3{
        color: white;
        font-size: 30px;
    }

.proffesional .proffesional-content li:not(:first-child){
        padding-left: 10px;
    }
.proffesional .proffesional-content-p{
        padding: 30px 0 50px 0;
    }
.proffesional .proffesional-content ul{
        padding-top: 40px;
    }
.proffesional .proffesional-content ul li p{
    padding-top: 10px;
    font-size: 24px;
}    

    /* FEATURES */

    .features{
        background-color: black;
        padding: 30px 0;
    }
    .features-inner{
        background-color: #191919;
    }
    .features-inner{
        padding: 20px;
        margin-top: 15px;
    }
    .feautures-title{
        padding: 35px;  
    }
    .feautures-title h2{
        margin-bottom: 15px;
        color: white;
        font-size: 36px;    
    }
    .feautures-title p{
        color: #999999;
        font-size: 20px;
    }
    .features-inner p{
        color: #999999;
    }
    .features-inner i{
        font-size: 28px;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(#5758e0,#5697d8);
    }

    /* PORTFOLIO */
.portfolio{
        background-color: #111111;    
    }

.portfolio h2{
        color: white;
    }
.portfolio .col-4 .img-1{
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}
.portfolio .col-4 .img-2{
    background-image: url(../images/proffesional-image.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}
.portfolio .col-4 .img-3{
    background-image: url(../images/about-image.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.2s;
}
.portfolio .portfolio-img-content{
    text-align: center;
    padding-top: 500px;
}
.portfolio-image{
    margin: 20px;
}
.portfolio h3{
    font-size: 28px;
    padding-bottom: 50px;
    color: white;
    opacity: 0;
}
.portfolio p{
    font-size: 22px;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
}
.portfolio .col-4 .img-1:hover{
    background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../images/portfolio-1.jpg);
    background-position: center;
    background-size: cover;
    transform: translateY(-50px);
}
.portfolio .col-4 .img-2:hover{
    background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../images/proffesional-image.jpg);
    background-position: center;
    background-size: cover;
    transform: translateY(-50px);
}
.portfolio .col-4 .img-3:hover{
    background: linear-gradient(90deg,rgb(87, 88, 224,0.8),rgb(86, 151, 216,0.8)),url(../images/about-image.jpg);
    background-position: center;
    background-size: cover;
    transform: translateY(-50px);
}
.portfolio .col-4 .img-1:hover p, .portfolio .col-4 .img-1:hover h3{
    opacity: 1;
}
.portfolio .col-4 .img-2:hover p, .portfolio .col-4 .img-2:hover h3{
    opacity: 1;
}
.portfolio .col-4 .img-3:hover p, .portfolio .col-4 .img-3:hover h3{
    opacity: 1;
}

/* VIDEO */

.video{
    background-color: #191919;
    padding: 80px 0;
}
.video .video-title h2{
    color: white;
    font-size: 50px;
}
.video .video-title p{
    font-size: 20px;
    color: #999999;
    padding: 10px 0 30px 0;
}
.video .video-inner img{
    margin-left: 20%;
    z-index: -1;
}
.video .video-inner i{
    position: absolute;
    font-size: 200px;
    transform: translate(-50px,-50px);
    z-index: 9;
    top: 30%;
    left: 48%;
    color: transparent;
    background-image: linear-gradient(#5758e0,#5697d8);
    background-clip: text;
    transition: 0.2s;
}
.video-inner{
    position: relative;
}
.video .video-inner i:hover{
    scale: 1.3;
}

/* TESTIMONIAL */

.testimonal{
    background-color: black;
    padding: 80px 0;
}
.testimonal .testimonial-title h2{
    color: white;
    font-size: 50px;
}
.testimonal .testimonial-title p{
    font-size: 20px;
    color: #999999;
    padding: 10px 0 30px 0;
}